<%- include("partial/header") %>

<h1>Thank You <%= name %></h1>
<h1>Submitted ! Your form has been submitted to us. We will contact you on the following details:</h1>
<h2>We will send you email on <u><strong><%= email %></strong></u> and may be calling on  <u><strong><%=phonenumber%></strong></u> if considering slot <u><strong><%=slot%></strong></u> is free.</h2>
<h1>Thanking You !</h1>
<%- include("partial/footer") %>